html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Global Styles */
  body
  {
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }
#home h1, #about h2, #contact h2
{
font-family: 'Roboto Condensed', sans-serif;
}


a 
{
  color: black;
}






h1
{
    font-size: 50px;
    text-decoration: underline;
}

h2
{
    text-align: center;
    font-size: 35px;
    margin-top: 0;
}

h3
{
    font-size: 25px;
}

p
{
    font-size: 20px;
}

article
{
    margin: 60px 0;
}

.content-wrap
{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
}

  /* Header and Navigation */
nav
{
    /* overflow: hidden; */
    background-color: rgb(36, 5, 5);
}

nav p
{
  display: inline-block;
    padding: 14px 16px;
    margin: 0;
}

#nav-right
{
    float: right;
}
nav a
{
    display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Home section */
#home
{
    padding: 200px;
    color: white;
    background-color:rgba(56, 4, 14, 1);
}

#home p
{
    font-size: 25px;
}

/* About section */



/* Contact section + footer */
#contact, footer
{
color: white;
background-color:rgba(56, 4, 14, 1);
}

/* Form styling */
form {
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
  }
  
  form div + div {
    margin-top: 1.5em;
  }
  
  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
  }
  
  textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
  
    /* To give enough room to type some text */
    height: 5em;
  }
  
  .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    padding: 10px 20px;
  }

  